table{
    border:none;
    margin: 0 auto;
    width:98%;
}
td,th{
    border: none;
    padding:10px;
    border-bottom:1px solid rgba(117, 117, 117, 0.366);
}
button{
    background-color:transparent;
    border:none;
    padding:3px;
    margin:10px;
    cursor: pointer;
   
}
th{
    background-color:rgba(145, 202, 255, 0.733);
}

tr:hover{
    background-color:rgba(0, 132, 255, 0.103);
}
button:nth-child(1){

}
button img{
    width:20px;
}

h1{
    font-size:18px;
    font-weight:bold;
    padding:10px;
}
.searchBox{
    display: flex;
    justify-content: space-evenly;
    box-shadow:0px 0px 5px rgba(118, 118, 118, 0.411);
    width:96%;
    margin: 15px auto;
}