.addSection{
    display: flex;
    justify-content: space-evenly;
    box-shadow:0px 0px 52px rgba(0, 0, 0, 0.134);
    padding:10px;
    margin:10px;
}
.enrollButton{
    background-color:rgb(103, 206, 250);
    color: white;
    padding:10px 50px;
}